# PPt link
https://docs.google.com/presentation/d/1J7b9LxIry86EFDvizqfl4rt6JANFbBEx/edit?usp=drive_web&ouid=117742280004385109368&rtpof=true

Report link
https://docs.google.com/document/d/1DoSXQ-0_y382u0QxDuWAjLjGjLG_7Gb0/edit?usp=sharing&ouid=117742280004385109368&rtpof=true&sd=true

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("Downloads/IPLData.csv")

In [3]:
df.head()

,Player Name,Team,Nationality,Player_Type,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,Economy,Bowling_Strike_Rate,Catches,Run_outs,Stumps
0,Shikhar Dhawan,Punjab,Indian,Batter,1,192.0,5783.0,34.63,126.60,4.0,16.5,8.25,12.0,NaN,NaN,NaN
1,Shreyas Iyer,Kolkata,Indian,Batter,1,87.0,2375.0,31.67,123.96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Faf Du Plessis,Bangalore,Overseas,Batter,1,100.0,2935.0,34.94,131.09,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Manish Pandey,Lucknow,Indian,Batter,1,154.0,3560.0,30.69,121.83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shimron Hetmyer,Rajasthan,Overseas,Batter,1,31.0,517.0,25.85,151.17,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player Name          235 non-null    object
 1   Team                 235 non-null    object
 2   Nationality          235 non-null    object
 3   Player_Type          235 non-null    object
 4   Capped               235 non-null    int64
 5   Matches_Played       215 non-null    float64
 6   Runs                 165 non-null    float64
 7   Average              161 non-null    float64
 8   Strike_Rate          163 non-null    float64
 9   Wickets              140 non-null    float64
 10  Bowling_average      135 non-null    float64
 11  Economy              143 non-null    float64
 12  Bowling_Strike_Rate  119 non-null    float64
 13  Catches              27 non-null     float64
 14  Run_outs             27 non-null     float64
 15  Stumps               27 non-null     float64
dtypes: float64(11), int64(1), object(4)
memory usage: 29.5+ KB

In [6]:
df=df.fillna(0)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 235 entries, 0 to 234
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Player Name          235 non-null    object
 1   Team                 235 non-null    object
 2   Nationality          235 non-null    object
 3   Player_Type          235 non-null    object
 4   Capped               235 non-null    int64
 5   Matches_Played       235 non-null    float64
 6   Runs                 235 non-null    float64
 7   Average              235 non-null    float64
 8   Strike_Rate          235 non-null    float64
 9   Wickets              235 non-null    float64
 10  Bowling_average      235 non-null    float64
 11  Economy              235 non-null    float64
 12  Bowling_Strike_Rate  235 non-null    float64
 13  Catches              235 non-null    float64
 14  Run_outs             235 non-null    float64
 15  Stumps               235 non-null    float64
dtypes: float64(11), int64(1), object(4)
memory usage: 29.5+ KB

In [8]:
df.shape

(235, 16)

In [9]:
df.columns

Index(['Player Name', 'Team', 'Nationality', 'Player_Type', 'Capped',
       'Matches_Played', 'Runs', 'Average', 'Strike_Rate', 'Wickets',
       'Bowling_average', 'Economy', 'Bowling_Strike_Rate', 'Catches',
       'Run_outs', 'Stumps'],
      dtype='object')

In [10]:
df

,Player Name,Team,Nationality,Player_Type,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,Economy,Bowling_Strike_Rate,Catches,Run_outs,Stumps
0,Shikhar Dhawan,Punjab,Indian,Batter,1,192.0,5783.0,34.63,126.60,4.0,16.50,8.25,12.00,0.0,0.0,0.0
1,Shreyas Iyer,Kolkata,Indian,Batter,1,87.0,2375.0,31.67,123.96,0.0,0.00,0.00,0.00,0.0,0.0,0.0
2,Faf Du Plessis,Bangalore,Overseas,Batter,1,100.0,2935.0,34.94,131.09,0.0,0.00,0.00,0.00,0.0,0.0,0.0
3,Manish Pandey,Lucknow,Indian,Batter,1,154.0,3560.0,30.69,121.83,0.0,0.00,0.00,0.00,0.0,0.0,0.0
4,Shimron Hetmyer,Rajasthan,Overseas,Batter,1,31.0,517.0,25.85,151.17,0.0,0.00,0.00,0.00,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Ravi Bishnoi,Lucknow,Indian,Bowler,1,23.0,8.0,4.00,50.00,24.0,25.25,6.97,21.75,0.0,0.0,0.0
231,Ruturaj Gaikwad,Chennai,Indian,Batter,1,22.0,839.0,46.61,132.13,0.0,0.00,0.00,0.00,0.0,0.0,0.0
232,Sunil Narine,Kolkata,Overseas,Allrounder,1,134.0,954.0,15.64,161.69,143.0,24.53,6.74,21.83,0.0,0.0,0.0
233,Kieron Pollard,Mumbai,Overseas,Allrounder,1,178.0,3268.0,29.98,149.77,65.0,31.62,8.78,21.60,0.0,0.0,0.0
234,Anrich Nortje,Delhi,Overseas,Bowler,1,24.0,7.0,7.00,116.67,34.0,20.56,7.65,16.12,0.0,0.0,0.0

In [11]:
df.Player_Type.unique()

array(['Batter', 'Bowler ', 'Keeper', 'Allrounder'], dtype=object)

In [29]:
from sklearn.preprocessing import OneHotEncoder

In [30]:
ohe=OneHotEncoder()
ohe.fit(df[['Player_Type']])

OneHotEncoder()

In [31]:
oheData=ohe.transform(df[['Player_Type']])

In [37]:
ohe.get_feature_names_out()

array(['Player_Type_Allrounder', 'Player_Type_Batter',
       'Player_Type_Bowler ', 'Player_Type_Keeper'], dtype=object)

In [39]:
df1=pd.DataFrame(oheData.toarray(),columns=ohe.get_feature_names_out())

In [41]:
df1=df1.astype(int)

In [43]:
df1

,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper
0,0,1,0,0
1,0,1,0,0
2,0,1,0,0
3,0,1,0,0
4,0,1,0,0
...,...,...,...,...
230,0,0,1,0
231,0,1,0,0
232,1,0,0,0
233,1,0,0,0
234,0,0,1,0

In [44]:
df=pd.concat([df,df1],axis=1)

In [46]:
df.drop('Player_Type',axis=1,inplace=True)

In [47]:
df

,Player Name,Team,Nationality,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,Economy,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper
0,Shikhar Dhawan,Punjab,Indian,1,192.0,5783.0,34.63,126.60,4.0,16.50,8.25,12.00,0.0,0.0,0.0,0,1,0,0
1,Shreyas Iyer,Kolkata,Indian,1,87.0,2375.0,31.67,123.96,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0
2,Faf Du Plessis,Bangalore,Overseas,1,100.0,2935.0,34.94,131.09,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0
3,Manish Pandey,Lucknow,Indian,1,154.0,3560.0,30.69,121.83,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0
4,Shimron Hetmyer,Rajasthan,Overseas,1,31.0,517.0,25.85,151.17,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Ravi Bishnoi,Lucknow,Indian,1,23.0,8.0,4.00,50.00,24.0,25.25,6.97,21.75,0.0,0.0,0.0,0,0,1,0
231,Ruturaj Gaikwad,Chennai,Indian,1,22.0,839.0,46.61,132.13,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0
232,Sunil Narine,Kolkata,Overseas,1,134.0,954.0,15.64,161.69,143.0,24.53,6.74,21.83,0.0,0.0,0.0,1,0,0,0
233,Kieron Pollard,Mumbai,Overseas,1,178.0,3268.0,29.98,149.77,65.0,31.62,8.78,21.60,0.0,0.0,0.0,1,0,0,0
234,Anrich Nortje,Delhi,Overseas,1,24.0,7.0,7.00,116.67,34.0,20.56,7.65,16.12,0.0,0.0,0.0,0,0,1,0

In [49]:
df.Nationality.unique()

array(['Indian', 'Overseas'], dtype=object)

In [51]:
df.columns

Index(['Player Name', 'Team', 'Nationality', 'Capped', 'Matches_Played',
       'Runs', 'Average', 'Strike_Rate', 'Wickets', 'Bowling_average',
       'Economy', 'Bowling_Strike_Rate', 'Catches', 'Run_outs', 'Stumps',
       'Player_Type_Allrounder', 'Player_Type_Batter', 'Player_Type_Bowler ',
       'Player_Type_Keeper'],
      dtype='object')

In [52]:
ohe.fit(df[['Nationality']])

OneHotEncoder()

In [53]:
g=ohe.transform(df[['Nationality']])

In [54]:
ohe.get_feature_names_out()

array(['Nationality_Indian', 'Nationality_Overseas'], dtype=object)

In [55]:
df1=pd.DataFrame(g.toarray(),columns=ohe.get_feature_names_out())

In [56]:
df=pd.concat([df,df1],axis=1)

In [58]:
df.drop('Nationality',axis=1,inplace=True)

In [60]:
df['Nationality_Indian']=df['Nationality_Indian'].astype(int)

In [61]:
df['Nationality_Overseas']=df['Nationality_Overseas'].astype(int)

In [63]:
df.Capped.unique()

array([1, 0, 2], dtype=int64)

In [64]:
df

,Player Name,Team,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,Economy,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
0,Shikhar Dhawan,Punjab,1,192.0,5783.0,34.63,126.60,4.0,16.50,8.25,12.00,0.0,0.0,0.0,0,1,0,0,1,0
1,Shreyas Iyer,Kolkata,1,87.0,2375.0,31.67,123.96,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
2,Faf Du Plessis,Bangalore,1,100.0,2935.0,34.94,131.09,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
3,Manish Pandey,Lucknow,1,154.0,3560.0,30.69,121.83,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
4,Shimron Hetmyer,Rajasthan,1,31.0,517.0,25.85,151.17,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Ravi Bishnoi,Lucknow,1,23.0,8.0,4.00,50.00,24.0,25.25,6.97,21.75,0.0,0.0,0.0,0,0,1,0,1,0
231,Ruturaj Gaikwad,Chennai,1,22.0,839.0,46.61,132.13,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
232,Sunil Narine,Kolkata,1,134.0,954.0,15.64,161.69,143.0,24.53,6.74,21.83,0.0,0.0,0.0,1,0,0,0,0,1
233,Kieron Pollard,Mumbai,1,178.0,3268.0,29.98,149.77,65.0,31.62,8.78,21.60,0.0,0.0,0.0,1,0,0,0,0,1
234,Anrich Nortje,Delhi,1,24.0,7.0,7.00,116.67,34.0,20.56,7.65,16.12,0.0,0.0,0.0,0,0,1,0,0,1

In [65]:
df.groupby('Player Name').mean()

C:\Users\Love Tiwadi\AppData\Local\Temp\ipykernel_15948\2283478557.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby('Player Name').mean()

,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,Economy,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
Player Name,,,,,,,,,,,,,,,,,,
Abdul Samad,1.0,23.0,222.0,15.86,146.02,2.0,52.50,13.12,24.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
Abhijeet Tomar,0.0,5.0,65.0,13.00,73.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
Abhinav Sadarangani,0.0,4.0,162.0,54.00,150.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
Abhishek Sharma,1.0,22.0,241.0,17.21,139.31,7.0,25.14,8.00,18.86,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
Adam Milne,1.0,9.0,0.0,0.00,0.00,7.0,44.00,9.62,27.43,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Writtick Chatterjee,0.0,27.0,262.0,21.80,131.00,21.0,19.90,6.23,19.10,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
Yash Dayal,0.0,15.0,0.0,0.00,0.00,15.0,22.10,7.21,0.00,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
Yash Dhull,2.0,0.0,0.0,0.00,0.00,0.0,0.00,0.00,0.00,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0
Yashasvi Jaiswal,1.0,13.0,289.0,22.23,136.32,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
Yuzvendra Chahal,1.0,114.0,32.0,5.30,41.03,139.0,22.28,7.59,17.61,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0

In [81]:
# For batters and all rounders
data_batters=df[df['Player_Type_Batter']==1]

In [82]:
data_batters

,Player Name,Team,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,Economy,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
0,Shikhar Dhawan,Punjab,1,192.0,5783.0,34.63,126.60,4.0,16.5,8.25,12.00,0.0,0.0,0.0,0,1,0,0,1,0
1,Shreyas Iyer,Kolkata,1,87.0,2375.0,31.67,123.96,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
2,Faf Du Plessis,Bangalore,1,100.0,2935.0,34.94,131.09,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
3,Manish Pandey,Lucknow,1,154.0,3560.0,30.69,121.83,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
4,Shimron Hetmyer,Rajasthan,1,31.0,517.0,25.85,151.17,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
5,Robin Uthappa,Chenai,1,193.0,4722.0,27.94,130.15,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
6,Jason Roy,Gujarat,1,13.0,329.0,29.91,129.02,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
7,Devdutt Padikkal,Rajasthan,1,29.0,884.0,31.57,125.05,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
8,Priyam Garg,Hyderabad,1,19.0,205.0,14.64,110.81,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
9,Abhinav Sadarangani,Gujarat,0,4.0,162.0,54.00,150.00,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
10,Dewald Brevis,Mumbai,0,3.0,85.0,28.30,137.10,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
11,Ashwin Hebbar,Delhi,0,41.0,1117.0,34.90,125.10,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
12,Rahul Tripathi,Hyderabad,1,62.0,1385.0,26.13,136.32,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
13,Aiden Markram,Hyderabad,1,6.0,146.0,29.30,122.69,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
14,Ajinkya Rahane,Kolkata,1,151.0,3941.0,31.53,121.34,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
15,Mandeep Singh,Delhi,1,105.0,1674.0,22.00,124.00,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
16,Rinku Singh,Kolkata,1,10.0,77.0,11.00,101.32,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
17,Manan Vohra,Lucknow,1,53.0,1054.0,22.43,130.61,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
18,Finn Allen,Bangalore,0,6.0,156.0,26.00,190.24,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
19,David Warner,Delhi,1,150.0,5449.0,41.60,139.97,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
20,Devon Conway,Chennai,0,20.0,602.0,50.20,139.30,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
21,Rovman Powell,Delhi,0,36.0,524.0,22.78,133.33,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
22,Subhranshu Senapati,Chennai,0,26.0,637.0,28.90,122.30,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
23,R Samarth,Hyderabad,0,23.0,275.0,13.80,94.50,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
24,Abhijeet Tomar,Kolkata,0,5.0,65.0,13.00,73.00,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
25,Pratham Singh,Kolkata,0,27.0,829.0,33.20,127.70,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
26,David Miller,Gujarat,1,89.0,1974.0,32.90,136.51,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
27,C Hari Nishaanth,Chennai,0,27.0,593.0,26.90,124.80,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
28,Anmolpreet Singh,Mumbai,1,1.0,16.0,16.00,114.29,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
29,Alex Hales,Kolkata,1,6.0,148.0,24.67,125.42,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
30,Evin Lewis,Lucknow,1,21.0,581.0,27.67,138.00,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
31,Karun Nair,Rajasthan,1,73.0,1480.0,24.26,128.63,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
32,Banuka Rajapaksa,Punjab,0,18.0,320.0,26.70,136.20,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
33,Rahul Buddhi,Mumbai,0,12.0,222.0,31.70,136.20,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
34,Ramesh Kumar,Kolkata,2,0.0,0.0,0.00,0.00,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
35,Rassie Van Der Dussen,Rajasthan,0,34.0,933.0,38.88,130.86,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
205,Rohit Sharma,Mumbai,1,213.0,5611.0,31.17,130.40,15.0,30.2,8.02,22.60,0.0,0.0,0.0,0,1,0,0,1,0
207,Kane Williamson,Hyderabad,1,63.0,1885.0,40.11,131.27,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
208,Virat Kohli,Bangalore,1,207.0,6283.0,37.40,129.95,4.0,92.0,8.80,62.75,0.0,0.0,0.0,0,1,0,0,1,0
212,KL Rahul,Lucknow,1,94.0,3273.0,47.43,136.38,0.0,0.0,0.00,0.00,50.0,4.0,5.0,0,1,0,0,1,0
216,Prithvi Shaw,Delhi,1,53.0,1305.0,24.62,146.30,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
217,Abdul Samad,Hyderabad,1,23.0,222.0,15.86,146.02,2.0,52.5,13.12,24.00,0.0,0.0,0.0,0,1,0,0,1,0
220,Mayank Agarwal,Punjab,1,100.0,2135.0,23.46,135.73,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
225,Suryakumar Yadav,Mumbai,1,115.0,2341.0,28.90,135.71,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
228,Yashasvi Jaiswal,Rajasthan,1,13.0,289.0,22.23,136.32,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
229,Shubman Gill,Gujarat,1,58.0,1417.0,31.49,123.00,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
231,Ruturaj Gaikwad,Chennai,1,22.0,839.0,46.61,132.13,0.0,0.0,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0

In [83]:
data_batters.sort_values(by=['Runs','Matches_Played','Strike_Rate'],ascending=[False,False,False],inplace=True)

C:\Users\Love Tiwadi\AppData\Local\Temp\ipykernel_15948\1756696517.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_batters.sort_values(by=['Runs','Matches_Played','Strike_Rate'],ascending=[False,False,False],inplace=True)

In [84]:
data_batters.shape

(47, 20)

In [127]:
data_batters.reset_index(inplace=True)

In [128]:
data_batters

,index,Player Name,Team,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,...,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
0,208,Virat Kohli,Bangalore,1,207.0,6283.0,37.40,129.95,4.0,92.0,...,62.75,0.0,0.0,0.0,0,1,0,0,1,0
1,0,Shikhar Dhawan,Punjab,1,192.0,5783.0,34.63,126.60,4.0,16.5,...,12.00,0.0,0.0,0.0,0,1,0,0,1,0
2,205,Rohit Sharma,Mumbai,1,213.0,5611.0,31.17,130.40,15.0,30.2,...,22.60,0.0,0.0,0.0,0,1,0,0,1,0
3,19,David Warner,Delhi,1,150.0,5449.0,41.60,139.97,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
4,5,Robin Uthappa,Chenai,1,193.0,4722.0,27.94,130.15,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
5,14,Ajinkya Rahane,Kolkata,1,151.0,3941.0,31.53,121.34,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
6,3,Manish Pandey,Lucknow,1,154.0,3560.0,30.69,121.83,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
7,212,KL Rahul,Lucknow,1,94.0,3273.0,47.43,136.38,0.0,0.0,...,0.00,50.0,4.0,5.0,0,1,0,0,1,0
8,2,Faf Du Plessis,Bangalore,1,100.0,2935.0,34.94,131.09,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
9,1,Shreyas Iyer,Kolkata,1,87.0,2375.0,31.67,123.96,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
10,225,Suryakumar Yadav,Mumbai,1,115.0,2341.0,28.90,135.71,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
11,220,Mayank Agarwal,Punjab,1,100.0,2135.0,23.46,135.73,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
12,26,David Miller,Gujarat,1,89.0,1974.0,32.90,136.51,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
13,207,Kane Williamson,Hyderabad,1,63.0,1885.0,40.11,131.27,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
14,15,Mandeep Singh,Delhi,1,105.0,1674.0,22.00,124.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
15,31,Karun Nair,Rajasthan,1,73.0,1480.0,24.26,128.63,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
16,229,Shubman Gill,Gujarat,1,58.0,1417.0,31.49,123.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
17,12,Rahul Tripathi,Hyderabad,1,62.0,1385.0,26.13,136.32,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
18,216,Prithvi Shaw,Delhi,1,53.0,1305.0,24.62,146.30,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
19,11,Ashwin Hebbar,Delhi,0,41.0,1117.0,34.90,125.10,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
20,17,Manan Vohra,Lucknow,1,53.0,1054.0,22.43,130.61,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
21,35,Rassie Van Der Dussen,Rajasthan,0,34.0,933.0,38.88,130.86,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
22,7,Devdutt Padikkal,Rajasthan,1,29.0,884.0,31.57,125.05,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
23,231,Ruturaj Gaikwad,Chennai,1,22.0,839.0,46.61,132.13,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
24,25,Pratham Singh,Kolkata,0,27.0,829.0,33.20,127.70,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
25,22,Subhranshu Senapati,Chennai,0,26.0,637.0,28.90,122.30,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
26,20,Devon Conway,Chennai,0,20.0,602.0,50.20,139.30,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
27,27,C Hari Nishaanth,Chennai,0,27.0,593.0,26.90,124.80,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
28,30,Evin Lewis,Lucknow,1,21.0,581.0,27.67,138.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
29,21,Rovman Powell,Delhi,0,36.0,524.0,22.78,133.33,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
30,4,Shimron Hetmyer,Rajasthan,1,31.0,517.0,25.85,151.17,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
31,6,Jason Roy,Gujarat,1,13.0,329.0,29.91,129.02,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
32,32,Banuka Rajapaksa,Punjab,0,18.0,320.0,26.70,136.20,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
33,228,Yashasvi Jaiswal,Rajasthan,1,13.0,289.0,22.23,136.32,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
34,23,R Samarth,Hyderabad,0,23.0,275.0,13.80,94.50,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
35,217,Abdul Samad,Hyderabad,1,23.0,222.0,15.86,146.02,2.0,52.5,...,24.00,0.0,0.0,0.0,0,1,0,0,1,0
36,33,Rahul Buddhi,Mumbai,0,12.0,222.0,31.70,136.20,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
37,8,Priyam Garg,Hyderabad,1,19.0,205.0,14.64,110.81,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
38,9,Abhinav Sadarangani,Gujarat,0,4.0,162.0,54.00,150.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
39,18,Finn Allen,Bangalore,0,6.0,156.0,26.00,190.24,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
40,29,Alex Hales,Kolkata,1,6.0,148.0,24.67,125.42,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
41,13,Aiden Markram,Hyderabad,1,6.0,146.0,29.30,122.69,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
42,10,Dewald Brevis,Mumbai,0,3.0,85.0,28.30,137.10,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
43,16,Rinku Singh,Kolkata,1,10.0,77.0,11.00,101.32,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
44,24,Abhijeet Tomar,Kolkata,0,5.0,65.0,13.00,73.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
45,28,Anmolpreet Singh,Mumbai,1,1.0,16.0,16.00,114.29,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0
46,34,Ramesh Kumar,Kolkata,2,0.0,0.0,0.00,0.00,0.0,0.0,...,0.00,0.0,0.0,0.0,0,1,0,0,1,0

In [85]:
df

,Player Name,Team,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,Economy,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
0,Shikhar Dhawan,Punjab,1,192.0,5783.0,34.63,126.60,4.0,16.50,8.25,12.00,0.0,0.0,0.0,0,1,0,0,1,0
1,Shreyas Iyer,Kolkata,1,87.0,2375.0,31.67,123.96,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
2,Faf Du Plessis,Bangalore,1,100.0,2935.0,34.94,131.09,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
3,Manish Pandey,Lucknow,1,154.0,3560.0,30.69,121.83,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
4,Shimron Hetmyer,Rajasthan,1,31.0,517.0,25.85,151.17,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Ravi Bishnoi,Lucknow,1,23.0,8.0,4.00,50.00,24.0,25.25,6.97,21.75,0.0,0.0,0.0,0,0,1,0,1,0
231,Ruturaj Gaikwad,Chennai,1,22.0,839.0,46.61,132.13,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,1,0
232,Sunil Narine,Kolkata,1,134.0,954.0,15.64,161.69,143.0,24.53,6.74,21.83,0.0,0.0,0.0,1,0,0,0,0,1
233,Kieron Pollard,Mumbai,1,178.0,3268.0,29.98,149.77,65.0,31.62,8.78,21.60,0.0,0.0,0.0,1,0,0,0,0,1
234,Anrich Nortje,Delhi,1,24.0,7.0,7.00,116.67,34.0,20.56,7.65,16.12,0.0,0.0,0.0,0,0,1,0,0,1

In [87]:
data_bowlers=df[df['Player_Type_Bowler ']==1]

In [88]:
data_bowlers.shape

(75, 20)

In [129]:
data_bowlers.reset_index(inplace=True)

In [92]:
data_bowlers.sort_values(by=['Bowling_average','Bowling_Strike_Rate','Stumps'],ascending=[False,False,False],inplace=True)

C:\Users\Love Tiwadi\AppData\Local\Temp\ipykernel_15948\725734900.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_bowlers.sort_values(by=['Bowling_average','Bowling_Strike_Rate','Stumps'],ascending=[False,False,False],inplace=True)

In [130]:
data_bowlers

,index,Player Name,Team,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,...,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
0,76,Daniel Sams,Mumbai,1,5.0,0.0,0.0,0.0,6.0,153.00,...,108.00,0.0,0.0,0.0,0,0,1,0,0,1
1,57,Tushar Deshpande,Chennai,1,5.0,0.0,0.0,0.0,3.0,64.00,...,34.00,0.0,0.0,0.0,0,0,1,0,1,0
2,69,Navdeep Saini,Rajasthan,1,28.0,0.0,0.0,0.0,17.0,48.71,...,34.47,0.0,0.0,0.0,0,0,1,0,1,0
3,99,Tim Southee,Kolkata,1,43.0,0.0,0.0,0.0,31.0,44.77,...,30.97,0.0,0.0,0.0,0,0,1,0,0,1
4,80,Adam Milne,Chennai,1,9.0,0.0,0.0,0.0,7.0,44.00,...,27.43,0.0,0.0,0.0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,95,Kuldeep Sen,Rajasthan,2,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0,0,1,0,1,0
71,97,Mayank Yadav,Lucknow,2,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0,0,1,0,1,0
72,98,Tejas Baroka,Rajasthan,2,1.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0,0,1,0,1,0
73,101,Kuldip Yadav,Rajasthan,1,1.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0,0,1,0,1,0
74,227,Umran Malik,Hyderabad,2,0.0,0.0,0.0,0.0,0.0,0.00,...,0.00,0.0,0.0,0.0,0,0,1,0,1,0

In [94]:
data_allrounders=df[df['Player_Type_Allrounder']==1]

In [95]:
data_allrounders.sort_values(by=['Runs','Average','Strike_Rate','Bowling_Strike_Rate','Matches_Played'],ascending=[False,False,False,False,False],inplace=True)

C:\Users\Love Tiwadi\AppData\Local\Temp\ipykernel_15948\4186505801.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_allrounders.sort_values(by=['Runs','Average','Strike_Rate','Bowling_Strike_Rate','Matches_Played'],ascending=[False,False,False,False,False],inplace=True)

In [131]:
data_allrounders.reset_index(inplace=True)
data_allrounders

,index,Player Name,Team,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,...,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
0,233,Kieron Pollard,Mumbai,1,178.0,3268.0,29.98,149.77,65.0,31.62,...,21.60,0.0,0.0,0.0,1,0,0,0,0,1
1,203,Ravindra Jadeja,Chennai,1,200.0,2386.0,27.11,128.14,127.0,30.05,...,23.68,0.0,0.0,0.0,1,0,0,0,1,0
2,190,Benny Howell,Punjab,0,146.0,2055.0,23.40,129.50,150.0,21.80,...,18.20,0.0,0.0,0.0,1,0,0,0,0,1
3,218,Glen Maxwell,Bangalore,1,97.0,2018.0,25.23,151.84,22.0,41.59,...,29.18,0.0,0.0,0.0,1,0,0,0,0,1
4,130,Nitish Rana,Kolkata,1,77.0,1820.0,28.00,132.46,7.0,22.00,...,16.43,0.0,0.0,0.0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,191,Hrithik Shokeen,Mumbai,2,0.0,0.0,0.00,0.00,0.0,0.00,...,0.00,0.0,0.0,0.0,1,0,0,0,1,0
83,192,Bhagath Varma,Chennai,2,0.0,0.0,0.00,0.00,0.0,0.00,...,0.00,0.0,0.0,0.0,1,0,0,0,1,0
84,193,Arjun Tendulkar,Mumbai,2,0.0,0.0,0.00,0.00,0.0,0.00,...,0.00,0.0,0.0,0.0,1,0,0,0,1,0
85,194,Shubham Garhwal,Rajasthan,2,0.0,0.0,0.00,0.00,0.0,0.00,...,0.00,0.0,0.0,0.0,1,0,0,0,1,0
86,197,Vicky Ostwal,Delhi,2,0.0,0.0,0.00,0.00,0.0,0.00,...,0.00,0.0,0.0,0.0,1,0,0,0,1,0

In [97]:
data_keeper=df[df['Player_Type_Keeper']==1]

In [98]:
data_keeper.sort_values(by=['Stumps'],ascending=[False],inplace=True)

C:\Users\Love Tiwadi\AppData\Local\Temp\ipykernel_15948\363990296.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_keeper.sort_values(by=['Stumps'],ascending=[False],inplace=True)

In [134]:
data_keeper.reset_index(inplace=True)
data_keeper

,index,Player Name,Team,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,...,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
0,213,MS Dhoni,Chennai,1,220.0,4746.0,39.50,135.80,0.0,0.0,...,0.0,126.0,21.0,39.0,0,0,0,1,1,0
1,109,Dinesh Karthik,Bangalore,1,213.0,4046.0,25.80,129.70,0.0,0.0,...,0.0,123.0,14.0,32.0,0,0,0,1,1,0
2,118,Wridhhiman Saha,Gujarat,1,133.0,2110.0,24.50,128.70,0.0,0.0,...,0.0,69.0,3.0,20.0,0,0,0,1,1,0
3,206,Rishabh Pant,Delhi,1,84.0,2498.0,35.18,147.46,0.0,0.0,...,0.0,56.0,5.0,14.0,0,0,0,1,1,0
4,105,Quinton De Kock,Lucknow,1,77.0,2256.0,31.30,130.90,0.0,0.0,...,0.0,53.0,0.0,14.0,0,0,0,1,0,1
5,209,Sanju Samson,Rajasthan,1,121.0,3068.0,29.22,134.21,0.0,0.0,...,0.0,59.0,8.0,10.0,0,0,0,1,1,0
6,115,Jitesh Sharma,Punjab,0,54.0,1329.0,28.30,141.80,0.0,0.0,...,0.0,38.0,5.0,8.0,0,0,0,1,1,0
7,123,Tim Seifert,Delhi,0,40.0,753.0,23.50,129.80,0.0,0.0,...,0.0,21.0,4.0,6.0,0,0,0,1,0,1
8,108,Jonny Bairstow,Punjab,1,28.0,1038.0,41.50,142.20,0.0,0.0,...,0.0,18.0,1.0,4.0,0,0,0,1,0,1
9,126,Luvnith Sisodia,Bangalore,0,7.0,45.0,11.20,140.60,0.0,0.0,...,0.0,2.0,1.0,4.0,0,0,0,1,1,0
10,119,Matthew Wade,Gujarat,0,56.0,733.0,20.40,126.60,0.0,0.0,...,0.0,36.0,3.0,3.0,0,0,0,1,0,1
11,107,Ishan Kishan,Mumbai,1,61.0,1452.0,28.50,136.30,0.0,0.0,...,0.0,19.0,1.0,2.0,0,0,0,1,1,0
12,106,Ambati Rayudu,Chennai,1,175.0,3916.0,29.40,127.50,0.0,0.0,...,0.0,58.0,12.0,2.0,0,0,0,1,1,0
13,121,Vishnu Vinod,Hyderabad,1,3.0,19.0,6.30,73.10,0.0,0.0,...,0.0,0.0,0.0,2.0,0,0,0,1,1,0
14,122,Glenn Philips,Hyderabad,0,35.0,645.0,25.80,140.20,0.0,0.0,...,0.0,19.0,1.0,2.0,0,0,0,1,0,1
15,219,Jos Butler,Rajasthan,1,65.0,1968.0,35.14,150.00,0.0,0.0,...,0.0,34.0,3.0,1.0,0,0,0,1,0,1
16,111,KS Bharat,Delhi,1,8.0,191.0,38.20,122.40,0.0,0.0,...,0.0,4.0,0.0,1.0,0,0,0,1,1,0
17,124,Dhruv Jurel,Rajasthan,0,2.0,28.0,14.00,75.70,0.0,0.0,...,0.0,3.0,0.0,0.0,0,0,0,1,1,0
18,125,Aryan Juyal,Mumbai,0,7.0,67.0,16.80,124.10,0.0,0.0,...,0.0,1.0,0.0,0.0,0,0,0,1,1,0
19,110,Nicholas Pooran,Hyderabad,1,33.0,606.0,22.40,155.00,0.0,0.0,...,0.0,11.0,3.0,0.0,0,0,0,1,0,1
20,117,Sam Billings,Kolkata,1,22.0,334.0,17.60,133.60,0.0,0.0,...,0.0,13.0,1.0,0.0,0,0,0,1,0,1
21,116,Baba Indrajith,Kolkata,0,20.0,319.0,19.90,104.60,0.0,0.0,...,0.0,6.0,1.0,0.0,0,0,0,1,1,0
22,114,Sheldon Jackson,Kolkata,1,4.0,38.0,19.00,122.60,0.0,0.0,...,0.0,2.0,0.0,0.0,0,0,0,1,0,1
23,113,Prabhsimran Singh,Punjab,1,5.0,50.0,10.00,90.90,0.0,0.0,...,0.0,2.0,0.0,0.0,0,0,0,1,1,0
24,112,Anuj Rawat,Bangalore,1,1.0,0.0,0.00,0.00,0.0,0.0,...,0.0,3.0,0.0,0.0,0,0,0,1,1,0
25,120,N Jagadeesan,Chennai,1,5.0,33.0,16.50,113.80,0.0,0.0,...,0.0,0.0,0.0,0.0,0,0,0,1,1,0

In [140]:
print("Top Performing player in each category are")
list1=[]
list1.append(data_batters['Player Name'][0])
list1.append(data_bowlers['Player Name'][0])
list1.append(data_allrounders['Player Name'][0])
list1.append(data_keeper['Player Name'][0])
print("Batsman     ==>",list1[0])
print("Bowler      ==>",list1[1])
print("All Rounder ==>",list1[2])
print("Keeper      ==>",list1[3],"🙏🙏")

Top Performing player in each category are
Batsman     ==> Virat Kohli
Bowler      ==> Daniel Sams
All Rounder ==> Kieron Pollard
Keeper      ==> MS Dhoni 🙏🙏

In [143]:
# let say team comprises of 4 batsman 3 bowlers 4 allrounders
# In which minimum 2 overseas should be there

In [152]:
team=data_batters[0:4]

In [153]:
team=pd.concat([team,data_bowlers[0:3]],axis=0)

In [154]:
team=pd.concat([team,data_allrounders[0:4]],axis=0)

In [155]:
team

,index,Player Name,Team,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,...,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
0,208,Virat Kohli,Bangalore,1,207.0,6283.0,37.40,129.95,4.0,92.00,...,62.75,0.0,0.0,0.0,0,1,0,0,1,0
1,0,Shikhar Dhawan,Punjab,1,192.0,5783.0,34.63,126.60,4.0,16.50,...,12.00,0.0,0.0,0.0,0,1,0,0,1,0
2,205,Rohit Sharma,Mumbai,1,213.0,5611.0,31.17,130.40,15.0,30.20,...,22.60,0.0,0.0,0.0,0,1,0,0,1,0
3,19,David Warner,Delhi,1,150.0,5449.0,41.60,139.97,0.0,0.00,...,0.00,0.0,0.0,0.0,0,1,0,0,0,1
0,76,Daniel Sams,Mumbai,1,5.0,0.0,0.00,0.00,6.0,153.00,...,108.00,0.0,0.0,0.0,0,0,1,0,0,1
1,57,Tushar Deshpande,Chennai,1,5.0,0.0,0.00,0.00,3.0,64.00,...,34.00,0.0,0.0,0.0,0,0,1,0,1,0
2,69,Navdeep Saini,Rajasthan,1,28.0,0.0,0.00,0.00,17.0,48.71,...,34.47,0.0,0.0,0.0,0,0,1,0,1,0
0,233,Kieron Pollard,Mumbai,1,178.0,3268.0,29.98,149.77,65.0,31.62,...,21.60,0.0,0.0,0.0,1,0,0,0,0,1
1,203,Ravindra Jadeja,Chennai,1,200.0,2386.0,27.11,128.14,127.0,30.05,...,23.68,0.0,0.0,0.0,1,0,0,0,1,0
2,190,Benny Howell,Punjab,0,146.0,2055.0,23.40,129.50,150.0,21.80,...,18.20,0.0,0.0,0.0,1,0,0,0,0,1
3,218,Glen Maxwell,Bangalore,1,97.0,2018.0,25.23,151.84,22.0,41.59,...,29.18,0.0,0.0,0.0,1,0,0,0,0,1

In [156]:
team.drop('index',axis=1,inplace=True)

In [158]:
team.reset_index(inplace=True)

In [160]:
team.drop('index',axis=1,inplace=True)

In [161]:
team

,Player Name,Team,Capped,Matches_Played,Runs,Average,Strike_Rate,Wickets,Bowling_average,Economy,Bowling_Strike_Rate,Catches,Run_outs,Stumps,Player_Type_Allrounder,Player_Type_Batter,Player_Type_Bowler,Player_Type_Keeper,Nationality_Indian,Nationality_Overseas
0,Virat Kohli,Bangalore,1,207.0,6283.0,37.40,129.95,4.0,92.00,8.80,62.75,0.0,0.0,0.0,0,1,0,0,1,0
1,Shikhar Dhawan,Punjab,1,192.0,5783.0,34.63,126.60,4.0,16.50,8.25,12.00,0.0,0.0,0.0,0,1,0,0,1,0
2,Rohit Sharma,Mumbai,1,213.0,5611.0,31.17,130.40,15.0,30.20,8.02,22.60,0.0,0.0,0.0,0,1,0,0,1,0
3,David Warner,Delhi,1,150.0,5449.0,41.60,139.97,0.0,0.00,0.00,0.00,0.0,0.0,0.0,0,1,0,0,0,1
4,Daniel Sams,Mumbai,1,5.0,0.0,0.00,0.00,6.0,153.00,8.50,108.00,0.0,0.0,0.0,0,0,1,0,0,1
5,Tushar Deshpande,Chennai,1,5.0,0.0,0.00,0.00,3.0,64.00,11.29,34.00,0.0,0.0,0.0,0,0,1,0,1,0
6,Navdeep Saini,Rajasthan,1,28.0,0.0,0.00,0.00,17.0,48.71,8.48,34.47,0.0,0.0,0.0,0,0,1,0,1,0
7,Kieron Pollard,Mumbai,1,178.0,3268.0,29.98,149.77,65.0,31.62,8.78,21.60,0.0,0.0,0.0,1,0,0,0,0,1
8,Ravindra Jadeja,Chennai,1,200.0,2386.0,27.11,128.14,127.0,30.05,7.61,23.68,0.0,0.0,0.0,1,0,0,0,1,0
9,Benny Howell,Punjab,0,146.0,2055.0,23.40,129.50,150.0,21.80,6.92,18.20,0.0,0.0,0.0,1,0,0,0,0,1
10,Glen Maxwell,Bangalore,1,97.0,2018.0,25.23,151.84,22.0,41.59,8.55,29.18,0.0,0.0,0.0,1,0,0,0,0,1

In [163]:
team['Player Name'][:11]

0          Virat Kohli
1       Shikhar Dhawan
2        Rohit Sharma
3        David Warner
4          Daniel Sams
5     Tushar Deshpande
6        Navdeep Saini
7      Kieron Pollard
8     Ravindra Jadeja
9        Benny Howell
10        Glen Maxwell
Name: Player Name, dtype: object